body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    color: #2c3e50;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #34495e;
    font-weight: bold;
    font-size: 24px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.search-bar input:focus {
    border-color: #3498db;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #2980b9;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #1f6399;
}

#family-tree-container {
    margin-top: 20px;
}

.node {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.node:hover {
    transform: scale(1.02);
}

.children {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
    display: none;
}

.children.active {
    display: block; /* Tampilkan elemen anak saat kelas active ditambahkan */
}

/* Gradient color for each generation */
.node[data-generation="1"] {
    background: linear-gradient(45deg, #ff6f61, #ff9a85);
}

.node[data-generation="2"] {
    background: linear-gradient(45deg, #6a89cc, #a29bfe);
}

.node[data-generation="3"] {
    background: linear-gradient(45deg, #78e08f, #38ada9);
}

.node[data-generation="4"] {
    background: linear-gradient(45deg, #f8c291, #e55039);
}

.node[data-generation="5"] {
    background: linear-gradient(45deg, #f5cd79, #f3a683);
}

